# Variables de la app camarainversionistas
APP_NAME=camarainversionistas
APP_PORT=8081
APP_ENV=production
APP_URL=https://camarainversionistas.com

# Conexión MySQL
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=camarainversionistas
DB_USERNAME=camara_user
DB_PASSWORD=changeme_camara


