# Variables de la app camarainversionistas
APP_NAME=camarainversionistas
APP_PORT=8081
APP_ENV=production
APP_URL=https://camarainversionistas.com

# Conexión MySQL
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=webci
DB_USERNAME=aliado25
DB_PASSWORD=Gordis23+


