# Variables de la app factoinstitute
APP_NAME=factoinstitute
APP_PORT=8083
APP_ENV=production
APP_URL=https://factoinstitute.com

# Conexión MySQL
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=factoinstitute
DB_USERNAME=fi_user
DB_PASSWORD=changeme_fi


